body {
  background-color: #1B1B32;
  color: #ffffff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

#budget {
  width: 150px;
}
/*fieldset,
#controls,
#buttons{
  margin-top: 10px;
}*/

/*Inline block elements can have margins and paddings on all sides*/
fieldset,
label,
button,
input,
select {
  margin-top: 10px;
}

label,
legend {
  font-weight: bold;
}


button {
  background-color: #FECC4C;
  border: 1px solid #FEAC32;
}

#display {
  border: 1px solid #ffffff;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}
hr {
  width: 96%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#display {
  display: none;
}
